{% extends 'base.html.twig' %}

{% block title %}Hello ProduitAddController!{% endblock %}

{% block body %}
{% block body %}
<h1>Add a New Product</h1>

{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
{{ form_end(form) }}
{% endblock %}
